body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: "Arial", sans-serif;
    text-align: center;
}

.titulo {
    margin-top: 20px;
    font-size: 30px;
}

.slideshow-container {
    width: 90%;
    height: 70vh;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.mensagem {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}
